.env*
!.env.dist
module.cfg
composer.phar
/app/config/parameters.yml
/app/dumps/*
!/app/dumps/translatables/.gitkeep
!/app/dumps/translations/.gitkeep
/bin/*
!/bin/console
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
.idea
/catalog/
/scripts/catalog/
.phpunit.result.cache
